$primary:       #116466 !default;
$secondary:     #D9B08C !default;
$ternari:       #FFCB9A !default;
$quaternary:    #73c1ba !default;
$light:         #F7F2E5 !default;
$dark:          #2C3531 !default;


/* Estilo botones */
.active {
    color: $ternari;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    &:focus {
        border-color: $primary;
    }

    &:hover {
        border-color: $light;
        background-color: $light;
        color: $primary;
    }
}

.btn-secondary {
    background-color: $secondary !important;
    border-color: $secondary !important;
    &:focus {
        border-color: $secondary;
    }
}

.btn-ternari {
    background-color: $ternari !important;
    border-color: $ternari !important;

    &:focus {
        border-color: $ternari;
    }
}

.btn-quaternary {
    background-color: $quaternary !important;
    border-color: $quaternary !important;
    &:focus {
        border-color: $primary;
    }
}

.btn-light {
    background-color: $light !important;
    border-color: $light !important;
    &:focus {
        border-color: $light;
    }
}

.btn-dark {
    background-color: $dark !important;
    border-color: $dark !important;
    &:focus {
        border-color: $dark;
    }
}

.btn-outline-primary {
    color: $primary;
    border-color: $primary;
    &:hover {
        background-color: $primary;
        border-color: $primary;

    }
    &:focus {
        border-color: $primary;
    }
}

.btn-outline-secondary {
    color: $secondary;
    border-color: $secondary;
    &:hover {
        background-color: $secondary;

    }
    &:focus {
        border-color: $secondary;
    }
}

.btn-outline-ternari {
    color: $ternari;
    border-color: $ternari;
}

.btn-outline-quaternary {
    color: $quaternary;
    border-color: $quaternary;
}

.btn-outline-light {
    color: $light;
    border-color: $light;
}

.btn-outline-dark {
    color: $dark;
    border-color: $dark;
}

/* Estilo texto */

.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-ternari {
    color: $ternari;
}

.text-quaternary {
    color: $quaternary;
}

.text-light {
    color: $light;
}

.text-dark {
    color: $dark;
}

/* Estilo backgrounds */

.bg-primary {
    background-color: $primary !important;
    border-color: $primary;
}

.bg-secondary {
    background-color: $secondary !important;
    border-color: $secondary;
}

.bg-ternari {
    background-color: $ternari !important;
    border-color: $ternari;
}

.bg-quaternary {
    background-color: $quaternary !important;
    border-color: $quaternary;
}

.bg-light {
    background-color: $light !important;
    border-color: $light;
}

.bg-dark {
    background-color: $dark !important;
    border-color: transparent;
}