
.cursor-pointer{
  cursor: pointer;
  background-color: white;
}
.list-group-item {
  background-color: white;
}
.fondo-footer {
  background-color: white;
}

.social_icon2 ul {
     margin: 0;
     padding: 0;
     list-style: none;
     flex-direction: row;
     margin-top: 10px;
 }

 .gap {
     margin-right: 10px
 }

 .social_icon2 ul li:first-child {
     margin-left: 0px
 }

 .facebook {
     background: #2a66b3;
     border: 1px solid #2a66b3
 }

 .social_icon2 ul li a i {
     margin-right: 10px
 }

 .twitter {
     background: #35bbec;
     border: 1px solid #35bbec
 }

 .social_icon2 ul li a {
     float: left;
     border-radius: 4px;
     line-height: 40px;
     color: #fff;
     height: 40px;
     width: 110px;
     text-align: center;
     margin-bottom: 40px
 }

 .google {
     background: #e55644;
     border: 1px solid #e55644
 }

 .facebook:hover {
     background: #082b58;
     border: 1px solid #082b58
 }

 .twitter:hover {
     background: #0f607e;
     border: 1px solid #0f607e
 }

 .google:hover {
     background: #a52a1b;
     border: 1px solid #a52a1b
 }
