@charset "UTF-8";
/* SCSS per a la pàgina de documents */
body {
  background-color: #DEF2F1;
  font-family: "Montserrat", sans-serif;
}

header,
footer {
  min-width: 460px;
}

a {
  text-decoration: none;
  color: black;
}

#titol {
  margin-left: 25px;
  color: #17252A;
  font-family: "Nunito", sans-serif;
}

.opcionsDocs {
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.opcionsDocs button:first-child {
  margin-left: 0px;
}

.tooltip > {
  display: inline-block;
  padding: 0px 0px;
  min-width: 90px;
}

.tooltip > .tooltiptext {
  visibility: hidden;
  background-color: #17252A;
  color: #FEFFFF;
  margin-bottom: 5px;
  border-radius: 10px;
  font-size: 15px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#opcions {
  min-width: 306px;
}

.opcionsDocs button {
  margin-left: 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #FEFFFF;
  color: #17252A;
  border-radius: 50%;
  border: 1px solid black;
}

.opcionsDocs button:hover {
  background-color: #17252A;
  color: #FEFFFF;
}

.taula {
  min-width: 460px;
  border-collapse: collapse;
  width: 97%;
  overflow-x: auto;
  margin: 0 auto;
  border-radius: 5px;
}

.taula tr {
  border: 1px solid black;
}

.taula td,
.taula th {
  text-align: left;
  padding: 8px;
  font-size: 18px;
}

.taula tr:nth-child(even) {
  background-color: #dddd;
}

.taula tr:nth-child(odd) {
  background-color: #FEFFFF;
}

.cap-fitxer {
  border: none;
  background-color: #17252A;
  color: white;
  width: 40%;
}

.cap-propietari {
  border: none;
  background-color: #17252A;
  color: white;
  width: 20%;
}

.cap-data {
  border: none;
  background-color: #17252A;
  color: white;
  width: 20%;
}

.cap-mida {
  border: none;
  background-color: #17252A;
  color: white;
  width: 20%;
}

.fitxer {
  width: 40%;
}

.fitxer i {
  padding: 0px 7px;
}

.propietari,
.data,
.mida {
  width: 20%;
}

.propietari a {
  margin-right: 10px;
}

@media screen and (max-width: 1100px) {
  .opcionsDocs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  h1 {
    font-size: 20px;
  }
  .taula td,
  .taula th {
    font-size: 13px;
  }
  .cap-fitxer {
    font-size: 10px;
  }
  .cap-propietari,
  .cap-data,
  .cap-mida {
    font-size: 10px;
  }
  .tooltip .tooltiptext {
    font-size: 10px;
  }
}

body {
  margin: 0px;
  width: 100%;
}

#menu {
  display: none;
}

.barraS {
  top: 0;
  width: 100%;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #2B7A78;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  position: relative;
}

li {
  float: left;
}

span, li a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

li a:hover:not(.active) {
  background-color: #17252A;
}

.active {
  background-color: #17252A;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FEFFFF;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: #17252A;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 5px;
}

.sidenav a:hover {
  color: #3AAFA9;
}

.sidenav .closebtn {
  position: relative;
  top: -20px;
  right: 25px;
  font-size: 36px;
  margin-left: 220px;
}

.logo {
  width: 30px;
  height: 30px;
  margin: 8px 10px 0px 10px;
}

#logo-mobile {
  display: none;
  width: 240px;
  height: 40px;
}

@media screen and (max-width: 1024px) {
  ul {
    text-align: center;
  }
  #logo-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #container-mobile {
    width: 90%;
    height: 50px;
  }
  #logo-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 4px auto;
  }
  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .barraS {
    display: none;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  div.side {
    background-color: #b3f5f4;
  }
}

@media screen and (max-width: 500px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  p.Descripcio {
    text-align: justify;
  }
  div.main {
    -webkit-box-flex: 70%;
        -ms-flex: 70%;
            flex: 70%;
    background-color: #b3f5f4;
    padding: 20px;
  }
  .barraS {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 467px) {
  #logo-mobile {
    display: none;
  }
  #container-mobile {
    display: none;
  }
}

/* SCSS per a l'estil del footer */
.container {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  background-color: #3AAFA9;
  padding: 10px;
  bottom: 0;
}

.item {
  background-color: #DEF2F1;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

#mes-info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

#xarxes {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

#xarxes i {
  font-size: 50px;
  margin-top: 20px;
}

#xarxes i:last-child {
  margin-bottom: 10px;
}

#xarxes #icones {
  margin: auto;
}

#xarxes #icones i {
  cursor: pointer;
  color: #17252A;
  margin-left: 20px;
  margin-top: auto;
}

#xarxes #icones i:first-child {
  margin-left: 0px;
}

#logo-container {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

#logo-container #logo-footer {
  margin-top: 4px;
  width: 300;
  height: 50px;
}

@media screen and (max-width: 565px) {
  #icones {
    display: -ms-grid;
    display: grid;
  }
  #icones i {
    padding-top: 10px;
    font-size: 30px;
    margin-left: 0px !important;
  }
}
/*# sourceMappingURL=main.css.map */