
.resource-center {
    position: relative;

    input {
        outline: 2px dashed #116466 ;
        outline-offset: -10px;
        color: #116466;
        padding: 100px 0px 100px 35%;
        text-align: center !important;
        margin: 0;
        width: 100% !important;
    }
}
