body {
  margin: 0px;
  width: 100%;
}

#menu {
  display: none;
}

.barraS {
  top: 0;
  width: 100%;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #DEF2F1;
  padding-inline-start: 0px;
  position: relative;
}

li {
  float: left;
}

span, li a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

li a:hover:not(.active) {
  background-color: #B4DFE5;
}

.active {
  background-color: #B4DFE5;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FEFFFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: #17252A;
  display: block;
  transition: 0.3s;
  margin-top: 5px;
}

.sidenav a:hover {
  color: #3AAFA9;
}

.sidenav .closebtn {
  position: relative;
  top: -20px;
  right: 25px;
  font-size: 36px;
  margin-left: 220px;
}

.logo {
  width: 30px;
  height: 30px;
  margin: 8px 10px 0px 10px;
}

#logo-mobile {
  display: none;
  width: 240px;
  height: 40px;
}

@media screen and (max-width: 1024px) {
  ul {
    text-align: center;
  }
  #logo-mobile {
    display: flex;
  }
  #container-mobile {
    width: 90%;
    height: 50px;
  }
  #logo-mobile {
    display: flex;
    margin: 4px auto;
  }
  #menu {
    display: flex;
  }
  .barraS {
    display: none;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  div.side {
    background-color: #b3f5f4;
  }
}

@media screen and (max-width: 500px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  p.Descripcio {
    text-align: justify;
  }
  div.main {
    flex: 70%;
    background-color: #b3f5f4;
    padding: 20px;
  }
  .barraS {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 467px) {
  #logo-mobile {
    display: none;
  }
  #container-mobile {
    display: none;
  }
}

body {
  background-color: #DEF2F1;
}

.box {
  text-align: center;
  margin: auto;
  width: 70%;
}

h1 {
  font-family: "Nunito", sans-serif;
}

form .entrada {
  width: 100%;
  padding: 15px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  background-color: #FEFFFF;
}

form input[type=submit] {
  width: 100%;
  padding: 15px 20px;
  margin: 10px 20px;
  border: none;
  font-size: 20px;
  background-color: #2B7A78;
  color: #FEFFFF;
  border-radius: 10px;
  cursor: pointer;
}

#error {
  margin: auto;
  width: 70%;
  padding: 1px 0px;
  background-color: #e26262;
  color: #17252A;
  border-radius: 25px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
